<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div *ngFor="let key of keys">
          <h6 class="text-muted">{{key | date:'EEE, MMMM dd, y'}}</h6>
          <ul class="list-group">
              <li class="list-group-item" *ngFor="let schedule of result[key]">
                <div class="row">
                  <div class="col-md-1" >
                    <img [src]="schedule.subjectPhotoUrl" alt="subjectPhoto" class="rounded-circle" width="20px" height="20px">
                  </div>
                  <div class="col-md-6">
                    <b>{{schedule.title}}</b>
                  </div>
                  <div class="col-md-4">
                      <img [src]="schedule.instuctorPhotoUrl" alt="instuctorPhoto" class="rounded-circle" width="20px" height="20px" style="padding-right: 1rem;">
                      <b>{{schedule.instructorName}}</b>
                  </div>
                  <div class="col-md-1">
                      <b>{{schedule.scheduleTime}}</b>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-6">{{schedule.description}}</div>
                  <div class="col-md-5"></div>
                </div>
              </li>
          </ul> 
      </div>   
    </div>
  </div>
</div>